<section class="product" id="product">
  <h1 class="heading"><%= t(".latest") %> <span><%= t(".product") %></span></h1>
  <ul class="box-container">
    <% @products.each do |product| %>
      <li class="box">
          <% if check_image_tag product %>
            <%= image_tag product.image  %>
          <% else %>
            <img src="/assets/product_default" alt="Product image">
          <% end %>
          <h3><%= product.name %></h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price"> <%= number_to_currency(product.price) %></div>
          <div class="quantity">
            <%= form_tag add_item_to_carts_path(id: product.id), method: :post do %>
              <span><%= t(".quantity") %> </span>
              <%= number_field_tag :quantity, nil, min: 1, step: 1, value: 1 %>              
              <%= button_tag t("home_page.index.add_to_cart"), class: "btn btn-primary btn_register" %>        
            <% end %>            
          </div>
          <%= link_to t(".see_details"), product_path(id: product.id), class: "btn" %>
      </li>
    <% end %>
  </ul>
</section>
