<% provide :title, t("app.views.home.title") %>

<!-- home section starts  -->

<section class="home" id="home">
  <div class="image">
      <img src="assets/home-img.png" alt="">
  </div>

  <div class="content">
      <span><%= t("app.views.home.span") %></span>
      <h3><%= t("app.views.home.content") %></h3>
      <a href="#" class="btn"><%= t("app.views.home.started") %></a>
  </div>
</section>

<!-- banner section starts  -->

<section class="banner-container">
  <div class="banner">
      <img src="assets/banner-1.jpg" alt="">
      <div class="content">
        <h3><%= t("app.views.home.offer") %></h3>
        <p><%= t("app.views.home.upto45") %></p>
        <a href="#" class="btn"><%= t("app.views.home.check_out") %></a>
      </div>
  </div>

  <div class="banner">
      <img src="assets/banner-2.jpg" alt="">
      <div class="content">
        <h3><%= t("app.views.home.limited") %></h3>
        <p><%= t("app.views.home.upto50") %></p>
        <a href="#" class="btn"><%= t("app.views.home.check_out") %></a>
      </div>
  </div>
</section>

<!-- category section starts  -->

<section class="category" id="category">
  <h1 class="heading"><%= t("app.views.home.shop") %> <span><%= t("app.views.home.category") %></span></h1>
  <div class="box-container">
    <div class="box">
      <h3><%= t("app.views.home.vegitables") %></h3>
      <p><%= t("app.views.home.upto50") %></p>
      <img src="assets/category-1.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t("app.views.home.juice") %></h3>
      <p><%= t("app.views.home.upto40") %></p>
      <img src="assets/category-2.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t("app.views.home.meat") %></h3>
      <p><%= t("app.views.home.upto35") %></p>
      <img src="assets/category-3.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t("app.views.home.fruite") %></h3>
      <p><%= t("app.views.home.upto12") %></p>
      <img src="assets/category-4.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
  </div>
</section>

<!-- product section starts  -->

<section class="product" id="product">
  <h1 class="heading"><%= t("app.views.home.latest") %> <span><%= t("app.views.home.products") %></span></h1>
  <div class="box-container">
    <div class="box">
      <span class="discount"><%= t("app.views.home.discount33") %></span>
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>

      <img src="assets/product-1.png" alt="">
      <h3><%= t("app.views.home.banana") %></h3>

      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>

      <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %>  </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount45") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>

        <img src="assets/product-2.png" alt="">
        <h3><%= t("app.views.home.tomato") %></h3>

        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount52") %></span>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-3.png" alt="">
        <h3><%= t("app.views.home.orange") %></h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount13") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-4.png" alt="">
        <h3><%= t("app.views.home.mild") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount20") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-5.png" alt="">
        <h3><%= t("app.views.home.grapes") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">
          <%= t("app.views.home.money10") %>
          <span> <%= t("app.views.home.money13") %> </span>
        </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount29") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-6.png" alt="">
        <h3><%= t("app.views.home.almonts") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount55") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-7.png" alt="">
        <h3><%= t("app.views.home.apple") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount30") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-8.png" alt="">
        <h3><%= t("app.views.home.butter") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>

      <div class="box">
        <span class="discount"><%= t("app.views.home.discount40") %></span>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="assets/product-9.png" alt="">
        <h3><%= t("app.views.home.carrot") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %> <span> <%= t("app.views.home.money13") %> </span> </div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <span> <%= t("app.views.home.kg") %> </span>
        </div>
        <a href="#" class="btn"><%= t("app.views.home.add") %></a>
      </div>
    </div>
  </div>
</section>

<!-- contact section starts  -->

<section class="contact" id="contact">
  <h1 class="heading"> <span><%= t("app.views.home.contact") %></span> <%= t("app.views.home.us") %> </h1>
  <form action="">
    <div class="inputBox">
      <input type="text" placeholder="name">
      <input type="email" placeholder="email">
    </div>
    <div class="inputBox">
      <input type="number" placeholder="number">
      <input type="text" placeholder="subject">
    </div>
    <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="send message" class="btn">
  </form>
</section>

<!-- newsletter section starts  -->

<section class="newsletter">
  <h3><%= t("app.views.home.content_subscribe") %></h3>
  <form action="">
    <input class="box" type="email" placeholder="enter your email">
    <input type="submit" value="subscribe" class="btn">
  </form>
</section>

<!-- footer section starts  -->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <a href="#" class="logo"><i class="fas fa-shopping-basket"></i><%= t("app.views.home.logo") %></a>
      <p><%= t("app.views.home.content_footer") %></p>
      <div class="share">
        <a href="#" class="btn fab fa-facebook-f"></a>
        <a href="#" class="btn fab fa-twitter"></a>
        <a href="#" class="btn fab fa-instagram"></a>
        <a href="#" class="btn fab fa-linkedin"></a>
      </div>
    </div>
    
    <div class="box">
      <h3><%= t("app.views.home.location") %></h3>
      <div class="links">
        <a href="#"><%= t("app.views.home.saigon") %></a>
        <a href="#"><%= t("app.views.home.hanoi") %></a>
        <a href="#"><%= t("app.views.home.danang") %></a>
        <a href="#"><%= t("app.views.home.haiphong") %></a>
        <a href="#"><%= t("app.views.home.nhatrang") %></a>
      </div>
    </div>

    <div class="box">
      <h3><%= t("app.views.home.quick") %></h3>
      <div class="links">
        <a href="#"><%= t("app.views.home.quick_home") %></a>
        <a href="#"><%= t("app.views.home.quick_category") %></a>
        <a href="#"><%= t("app.views.home.quick_product") %></a>
        <a href="#"><%= t("app.views.home.quick_contact") %></a>
      </div>
    </div>

    <div class="box">
      <h3><%= t("app.views.home.download") %></h3>
      <div class="links">
        <a href="#"><%= t("app.views.home.google") %></a>
        <a href="#"><%= t("app.views.home.window") %></a>
        <a href="#"><%= t("app.views.home.app_store") %></a>
      </div>
    </div>
  </div>
  <h1 class="credit"> <%= t("app.views.home.created") %> <span> <%= t("app.views.home.designer") %> </span> <%= t("app.views.home.reserved") %> </h1>
</section>
