<% provide :title, t(".title") %>

<!-- home section starts  -->

<section class="home" id="home">
  <div class="image">
      <img src="assets/home-img.png" alt="">
  </div>

  <div class="content">
      <span><%= t(".span") %></span>
      <h3><%= t(".content") %></h3>
      <a href="#" class="btn"><%= t(".started") %></a>
  </div>
</section>

<!-- banner section starts  -->

<section class="banner-container">
  <div class="banner">
      <img src="assets/banner-1.jpg" alt="">
      <div class="content">
        <h3><%= t(".offer") %></h3>
        <p><%= t(".upto45") %></p>
        <a href="#" class="btn"><%= t(".check_out") %></a>
      </div>
  </div>

  <div class="banner">
      <img src="assets/banner-2.jpg" alt="">
      <div class="content">
        <h3><%= t(".limited") %></h3>
        <p><%= t(".upto50") %></p>
        <a href="#" class="btn"><%= t(".check_out") %></a>
      </div>
  </div>
</section>

<!-- category section starts  -->

<section class="category" id="category">
  <h1 class="heading"><%= t(".shop") %> <span><%= t(".categories") %></span></h1>
  <div class="box-container">
    <div class="box">
      <h3><%= t(".vegitables") %></h3>
      <img src="assets/category-1.png" alt="">
      <a href="#" class="btn"><%= t(".shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t(".juice") %></h3>
      <img src="assets/category-2.png" alt="">
      <a href="#" class="btn"><%= t(".shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t(".meat") %></h3>
      <img src="assets/category-3.png" alt="">
      <a href="#" class="btn"><%= t(".shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t(".fruite") %></h3>
      <img src="assets/category-4.png" alt="">
      <a href="#" class="btn"><%= t(".shop_now") %></a>
    </div>
  </div>
</section>

<!-- product section starts  -->

<%= render "home_page/lastest_product" %>

