<li class="row cart_item">
  <div class="col-xs-2">
    <% if check_image_tag item[:product] %>
      <%= image_tag item[:product].image  %>
    <% else %>
      <img src="/assets/product_default" alt="Product image">
    <% end %>
  </div>
  <div class="col-xs-4">
    <h4 class="product-name"><strong><%=item[:product].name %></strong></h4><h4><small><%=item[:product].detail %></small></h4>
  </div>
  <div class="col-xs-6 cart_item_action">
    <div class="col-xs-6 text-right">
      <%= number_to_currency(item[:product].price) %> x
    </div>
    <div class="col-xs-4">
      <input type="number" name="<%= item[:product].id %>" class="qty" value="<%= item[:quantity] %>"  min="1" step="1">
    </div>
    <div class="col-xs-2">
      <%= link_to  "", cart_path(id: item[:product].id), class: "glyphicon glyphicon-trash del_cart", method: :delete, data: {confirm: t("carts.index.confirm")}%>
    </div>
  </div>
</li>
