<section class="footer">
  <div class="box-container">
    <div class="box">
      <a href="#" class="logo"><i class="fas fa-shopping-basket"></i><%= t(".logo") %></a>
      <div class="share">
        <i  class="btn"></i>
        <i  class="btn"></i>
        <i  class="btn"></i>
        <i  class="btn"></i>
      </div>
    </div>
    
    <div class="box">
      <h3><%= t(".location") %></h3>
      <div class="links">
        <a href="#"><%= t(".saigon") %></a>
        <a href="#"><%= t(".hanoi") %></a>
        <a href="#"><%= t(".danang") %></a>
        <a href="#"><%= t(".haiphong") %></a>
        <a href="#"><%= t(".nhatrang") %></a>
      </div>
    </div>

    <div class="box">
      <h3><%= t(".quick") %></h3>
      <div class="links">
        <a href="#"><%= t(".quick_home") %></a>
        <a href="#"><%= t(".quick_category") %></a>
        <a href="#"><%= t(".quick_product") %></a>
        <a href="#"><%= t(".quick_contact") %></a>
      </div>
    </div>
  </div>
</section>
