<header>
  <div class="header-1">
    <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Food and Drink</a>
    <form action="" class="search-box-container">
      <input type="search" id="search-box" placeholder="<%= t(".search") %>">
      <label for="search-box"><i class="fa fa-search search" aria-hidden="true"></i></label>
    </form>
  </div>

  <div class="header-2">
    <nav class="navbar">
      <%= link_to t(".home"), root_path %>
      <%= link_to t(".category"), "#" %>
      <%= link_to t(".product"), "#" %>
      <%= link_to t(".contact"), "#" %>
    </nav>
    <% if logged_in? %>
      <ul class="icons">
        <li>
          <a href="#" class="fas fa-shopping-cart icon_header"></a>
        </li>
        <li class="dropdown">
            <i href="#" class="dropdown-toggle fas fa-user-circle icon_header" data-toggle="dropdown"></i>
            <ul class="dropdown-menu account">
              <li>
                <%= link_to t(".profile"), "#" %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".english"), locale: :en %>
                <%= link_to t(".vietnamese"), locale: :vi %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
        </li>
      </ul>
    <% else %>
      <ul class="icons">
        <li class="dropdown">
            <i href="#" class="dropdown-toggle fas fa-user-circle icon_header" data-toggle="dropdown"></i>
            <ul class="dropdown-menu account">
              <li>
                <%= link_to t(".english"), locale: :en %>
                <%= link_to t(".vietnamese"), locale: :vi %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".login"), login_path %>
              </li>
            </ul>
        </li>
      </ul>
    <% end %>
  </div>
</header>
