<header>
  <div class="header-1">
    <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Food and Drink</a>
    <form action="" class="search-box-container">
      <input type="search" id="search-box" placeholder="search here...">
      <label for="search-box" class="fas fa-search"></label>
    </form>
  </div>

  <div class="header-2">
    <div id="menu-bar" class="fas fa-bars"></div>
    <nav class="navbar">
      <a href="#home"><%= t("app.views.header.home") %></a>
      <a href="#category"><%= t("app.views.header.category") %></a>
      <a href="#product"><%= t("app.views.header.product") %></a>
      <a href="#contact"><%= t("app.views.header.contact") %></a>
      <%= link_to t(".english"), locale: :en %>
      <%= link_to t(".vietnamese"), locale: :vi %>
    </nav>

    <div class="icons">
      <a href="#" class="fas fa-shopping-cart"></a>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-user-circle"></a>
    </div>
  </div>
</header>
